services/__pycache__/pdf_reader.cpython-313.pyc
logs/2026-05-18_22-38-55.txt
logs/2026-05-20_09-24-38.txt
logs/2026-05-19_21-29-59.txt
services/__pycache__/__init__.cpython-313.pyc
services/__pycache__/logger.cpython-313.pyc
services/__pycache__/finder.cpython-313.pyc
services/__pycache__/merger.cpython-313.pyc
ui/__pycache__/__init__.cpython-313.pyc
ui/__pycache__/main_window.cpython-313.pyc
